@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* My code */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* My code */
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* My code */
.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 14px;
}

.footer {
  background-color: #eeeeee;
}

.left-links,
.right-links {
  display: flex;
  gap: 16px;
} /* Could move this into ul{} below */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: hsl(0, 0%, 38%);
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
