/* My solution is a great representation of the desired outcome,
but man, it's very messy and verbose compared to the solution given. */

.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  /* border: 2px solid black; */
  padding: 4px 32px;
  margin-top: 8px;
  margin-bottom: 8px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.left-links,
.right-links {
  /* border: 1px solid red; */
  flex: 1;
  margin-left: 12px;
}

.left-links ul {
  /* border: 1px solid blue; */
  justify-content: flex-start;
}

.right-links ul {
  /* border: 1px solid blue; */
  justify-content: flex-end;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}